@use "./utils/zoom";
@use "./utils/variables";

//Section3 les Cards

.Section3__Conteneur {
    background-color: variables.$white;

    .section3__Restaurants{
        margin-left: 40px;
        margin-top: variables.$margin-top+30px;
        padding-top: 50px;

        & h2{
            margin-bottom: variables.$margin-bottom;
            font-size: variables.$size+5px;
        }
    }
}


.section3__conteneur__img{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
  

    
    .section3__img {
        margin-left: 40px;
        background-color: variables.$white-light;
        width: 46%;
        height: 100%;
        border-radius: 15px;
        margin-bottom: 30px;
        position: relative;
        cursor: pointer;
     
        &:hover{
            @include zoom.Section1_zoom;           
            
        }
    }
}


.img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;        
}


.liens{
    text-decoration: none;
    color: variables.$dark;
}


.section3_sous-title{
    margin-left: variables.$margin-left;
    margin-top: 15px;
    margin-bottom: 5px;
}


.texte{
    margin-left: variables.$margin-left;
    margin-bottom: 15px;
}


.logo_nouveau{
    background-color: variables.$morningGlory;
    padding: 10px 10px;
    color: variables.$green;
    font-size: 17px;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 20px;
}

.section3__conteneur__img i{
    position: absolute;
    font-size: 35px;
    right: 20px;
    top: 78%;
    
    
}
    
.section3__conteneur__img .fas{
    color: transparent;
    background: linear-gradient(variables.$mediumPurple,variables.$blushPink);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;

    &:hover{
        opacity: 1;
        transition-duration: 0.50s;
    }
}