@use "../utils/box-shadow";
@use "../utils/variables";

//Header navbar

.navbar__Ohmyfood{
    position: relative;
    text-align: center;
    padding: variables.$padding;
    @include box-shadow.header_box-shadow;

    
    & h1{
        font-family: variables.$Shrikhand;
        font-weight: variables.$weight;
        color: variables.$dark;
        font-size: variables.$size+15px ;
    }
}