
//Loader Animation

.loader {
  animation: loader 0.2s;
  animation-delay: 2s;
  animation-fill-mode: both;
  align-items:center;
  background-color: white;
  opacity: 0.9;
  display:flex;
  height: 100%;
  justify-content:center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
    
  &__item {
      animation-iteration-count: 1;
      animation: jump 1s;
      border-radius: 40px;
      height: 35px;
      width: 35px;
  
      &Container {
        display: flex;
        justify-content: space-between;
        width: 200px;
      }
  
      &--1 {
        background-color: violet;
      }
  
      &--2 {
        animation-delay: 0.25s;
        background-color: pink;
      }
  
      &--3 {
        animation-delay: 0.5s;
        background-color: rgb(7, 162, 179);
      }
  }
}



//Keyframes Loader

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }

}



@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}






