@use "../utils/box-shadow";
@use "../utils/zoom";
@use "../utils/variables";
@use "../components/btn_ohmyfood";
@use "../utils/responsives";


//Menu styles

//Header

.navbar__Ohmyfood{
    position: relative;


    header & i{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: variables.$size+5px;
        left: 20px;
        top: 50px;
        cursor: pointer;
  
    }
}


//Image

.img_menu1{
    width: 100%;
    height: 37vh;
    object-fit: cover;

    @include responsives.tablet{
        height: 70vh;
    
    }

}



//Section 1

.Section1_Conteneur{
    background-color: variables.$white;
    position: relative;
    margin-top: -60px;
    border-radius: 35px 35px 0 0;

    @include responsives.Desktop{
        max-width: 94%;
        margin-left: 40px;
    }

    .Title_Section_1{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: variables.$padding;
        padding-top: 40px;

        
        &.Title_Section_1 h2{
            font-size: 25px;
            font-weight: variables.$weight;
            color: variables.$dark;
            font-family: variables.$Shrikhand;

        
        }

    }
}



.Title_Section_1 i{
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    right: 30px;
    
}


.Title_Section_1 .fas{
    color: transparent;
    background: linear-gradient(variables.$mediumPurple,variables.$blushPink);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;

    &:hover{
        opacity: 1;
        transition-duration: 0.50s;
    
    }
        
}


//Menus des Plats


.Section1_a_Conteneur{
    display: flex;
    flex-direction: column;

    @include responsives.Desktop{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 33px;
    }
    

    .Listes_Section1{
        display: flex;
        flex-direction: column;
        width: 95%;
        gap: 15px;
    

        @include responsives.Desktop{
            width: 30%;
            margin-right: 10px;
            gap: 15px;
        }
        
    

        
        .menu_plats{
            font-size: variables.$size;
            font-weight: 400;
            color: variables.$dark;
            border-bottom: solid 4px #99e2d0;
            width: 15%;
            margin-left: 15px;
            margin-bottom: 10px;
            margin-top: 30px;

            @include responsives.Desktop{
                margin-left: 5px;
            }


        }

    }
    
}


//background menu animation

.background_menu{
    background-color: variables.$white-light;
    border-radius: 15px 15px 15px 15px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    width: 100%;
    animation: apparition .5s; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: scale(0);
    @include box-shadow.Menu_box-shadow;

    
    .__detail{
        width: 100%;
        padding: 20px 10px;
    
    }


    .__detail_text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .__check{
        display: none;
    }


    &:hover{
        @include zoom.Section1_zoom;
    

        .__detail{
            width: 80%;
            

        }


        .__check{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            background-color: #99e2d0;
            position: relative;
            animation-duration: 1s;
            animation-name: slidein;
            border-radius: 0 15px 15px 0;
           
        
            

           .fa-check-circle{
                animation-duration: 1s;
                animation-name: rotate;
                color: white;
                font-size: 30px;
                border-radius: 50%;
            }

        }

    }

}



//animation keyframes background menu


@keyframes apparition {
    0% {
      transform: scale(0);
      opacity: 0%; 
    }

    50% {
      opacity: 0%;
    }

    100%{
       transform: scale(1);
       opacity: 100%;
    }

}


.background_menu:nth-child(1) { animation-delay: 0s; } 
.background_menu:nth-child(2) { animation-delay: 0.5s; }
.background_menu:nth-child(3) { animation-delay: 1s; }
.background_menu:nth-child(4) { animation-delay: 1.5s }
.background_menu:nth-child(5) { animation-delay: 2s; }
.background_menu:nth-child(6) { animation-delay: 2.5s; }
.background_menu:nth-child(7) { animation-delay: 3s }
.background_menu:nth-child(8) { animation-delay: 3.5s; }
.background_menu:nth-child(9) { animation-delay: 4s }
.background_menu:nth-child(10) { animation-delay: 4.5s; }






@keyframes slidein{
    
    0%{
        right: -4%;
        }
    
    100%{

        right: 0%;
        }
    
    }
    


@keyframes rotate {

    0% {

        transform: rotate(180deg);
        }
    
    100% {

        transform: rotate(360deg);
        }
    }




.background_menu strong{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

   
}


.background_menu p{
    display: flex; 
    align-items: flex-end;
    justify-content: space-between;
}




//Boutton Commander

.Menu__Commander{
    @include btn_ohmyfood.Menu__Commander;


    .Menu__btn{
        @include btn_ohmyfood.Menu__btn;
       
        @include responsives.Desktop{
            margin-top: 30px;
        }

        &:hover{
            @include zoom.Section1_zoom;
            opacity: 0.9;

        }
    
    }

}


