@use "../utils/box-shadow";
@use "../utils/zoom";
@use "../utils/variables";
@use "../utils/responsives";

//Section2 Filtres


.section2__fonctionnement{
    margin-left: 25px;
    margin-top: variables.$margin-top+10px;
    font-size: 18px;
    margin-bottom: variables.$margin-bottom+10px;
    font-weight: bold;
    color: variables.$dark;
    
}


.section2__puces{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;
    gap: variables.$gap+20px;
    counter-reset: compteListe;
    list-style-type: none;

    @include responsives.tablet{
        gap: variables.$gap+10px;
    }

    @include responsives.Desktop{
        flex-direction: row;
    }

    
    .puces {
        background-color: variables.$white;
        padding: 25px 25px;
        font-size: 20px;
        border-radius: 20px;
        opacity: 1;
        cursor: pointer;
        position: relative;
        @include box-shadow.section2_box-shadow;

        @include responsives.Desktop{
            width: 100%;
        }


        

       
        &.puces:hover{
            @include zoom.Section1_zoom; 
        }
    }

}
        

.puces::before{
    counter-increment: compteListe;
    content: counter(compteListe) " ";
    border-radius: variables.$border-radius;
    background: variables.$lavenderIndigo;
    color: variables.$white;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    height: 40%;
    position: absolute;
    margin-right: 50px;
    left: -15px;

    @include responsives.tablet{
        width: 4%;
    }

    @include responsives.Desktop{
        width: 7%;
    }



}
            





.icône{
    font-weight: 900;
    color: variables.$gray;
    margin-right: 10px;
                
}

 
.listes{
    padding-right: 0px;
    margin-right: 0px;
}   