@charset "UTF-8";
/*Base.scss*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600;800&family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600;800&family=Raleway&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

/*Header navbar*/
.navbar__Ohmyfood {
  position: relative;
  text-align: center;
  box-shadow: 0px 1px 2px 0px grey;
  padding: 20px;
}
.navbar__Ohmyfood h1 {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  color: black;
  font-size: 35px;
}

/*Les couleurs*/
/*Section1.scss*/
/*Icone MAP*/
.Section1__Conteneur {
  background-color: #fafafa;
}
.Section1__Conteneur .section1_Map {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #000;
  font-size: 20px;
  gap: 20px;
  padding: 20px;
  background-color: #f3f3f3;
}

/*Section btn explorer*/
.section1__explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1__sous-title {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-top: 30px;
  text-align: center;
}

.section1__textes {
  font-weight: 300;
  color: #000;
  font-size: 17px;
  margin-top: 25px;
}

.section1__btn {
  font-size: 18px;
  font-weight: 500;
  color: #f3f3f3;
  background-image: linear-gradient(#9356DC, #FF79DA);
  border-radius: 30px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  box-shadow: 2px 1px 10px -3px #000;
  margin-bottom: 25px;
  margin-top: 15px;
  transition: 200ms;
}
.section1__btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*Section2 Filtres*/
.section2__fonctionnement {
  margin-left: 40px;
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #000;
}

.section2__puces {
  display: flex;
  flex-direction: row;
  margin-left: 45px;
  gap: 40px;
  counter-reset: compteListe;
  list-style-type: none;
}
.section2__puces .puces {
  background-color: #f6f6f6;
  padding: 23px 30px;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 3px 2px 5px grey;
  opacity: 1;
  cursor: pointer;
  transform: translate(1.02);
  position: relative;
}
.section2__puces .puces::before {
  counter-increment: compteListe;
  content: counter(compteListe) " ";
  border-radius: 30px;
  background: #9356dc;
  color: white;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  height: 40%;
  position: absolute;
  margin-right: 50px;
  left: -15px;
}

.icône {
  font-weight: 900;
  color: #7e7e7e;
  margin-right: 10px;
}

.listes {
  padding-right: 50px;
  margin-right: 50px;
}

/*Section3 les Cards*/
.Section3__Conteneur {
  background-color: #f6f6f6;
}
.Section3__Conteneur .section3__Restaurants {
  margin-left: 40px;
  margin-top: 50px;
  padding-top: 50px;
}
.Section3__Conteneur .section3__Restaurants h2 {
  margin-bottom: 30px;
  font-size: 25px;
}

.section3__conteneur__img {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}
.section3__conteneur__img .section3__img {
  margin-left: 40px;
  background-color: #fff;
  width: 46%;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.section3__conteneur__img .section3__img .img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.section3_sous-title {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.texte {
  margin-left: 15px;
  margin-bottom: 15px;
}

.logo_nouveau {
  background-color: #99e2d0;
  padding: 10px 10px;
  color: #1b6150;
  font-size: 17px;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 20px;
}

.section3__conteneur__img i {
  position: absolute;
  font-size: 35px;
  right: 20px;
  top: 78%;
}

.section3__conteneur__img .fas {
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.section3__conteneur__img .fas:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

/*Footer*/
.Footer__Conteneur {
  background-color: #353535;
}
.Footer__Conteneur p {
  font-size: 16px;
}

.footer__Ohmyfood {
  margin-left: 25px;
}
.footer__Ohmyfood .footer__sous-title {
  font-size: 17px;
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  color: white;
  padding-top: 15px;
}

.footer__icon_1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: white;
  margin: 10px;
  cursor: pointer;
}
.footer__icon_1:hover p {
  text-decoration: underline;
}
.footer__icon_1:hover p .ColorWhyte {
  color: white;
}

.Footer__Conteneur__textes {
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}
.Footer__Conteneur__textes p {
  margin-left: 10px;
}
.Footer__Conteneur__textes p:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
