// Descriptive color variables

$gray: #818181;
$dark:#000;
$prim: #fafafa;
$prim-whyte:#f3f3f3;
$mediumPurple: #9356DC;
$blushPink: #FF79DA;
$white: #F6F6F6;
$lavenderIndigo: #9256dc;
$white-light:#fff;
$morningGlory: #99E2D0;
$green:#1b6150;
$tuatara: #363636;
$light-grey: #c9c9c9;


// Descriptive padding, font-size, margin, font-family and border-radius variables

$size: 20px;
$padding: 20px;
$weight: bold;
$gap: 20px;
$Shrikhand:"Shrikhand", cursive;
$border-radius: 30px;
$margin-bottom: 20px;
$margin-top: 20px;
$margin-left: 15px;
